[Unit]
Description=Node Exporter - Prometheus Metrics
ConditionPathExists=/opt/node_exporter/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter

Restart=on-failure
RestartSec=3
TimeoutSec=5

ExecStart=/opt/node_exporter/node_exporter

[Install]
WantedBy=multi-user.target